* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchbar {
    width: 16%;
    height: 60px;
    background-color: rgb(20, 20, 20);
    margin: 10px;
    border-radius: 10px;
}

.logo {
    width: 10%;
    height: 60px;
    background-color: rgb(59, 58, 58);
    margin: 10px;
    border-radius: 8px;
}

.navbar {
    width: 100%;
    height: 30%;
    background-color: rgb(151, 148, 148);
}

.navbar li {
    height: 50px;
    width: 70px;
    margin: 10px;
    background-color: rgb(75, 72, 72);
    list-style-type: none;
    border-radius: 11px;
}

.landing-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 120vh;
    background-color: blue;
}

/* .landing-page div {
    background-color: lightgray;
    border: thin solid black;
} */

.landing-page div:nth-child(1) {
    background-color: rgb(70, 67, 67);
}

.landing-page div:nth-child(2) {
    background-color: rgb(129, 126, 126);
}

.landing-page div:nth-child(3) {
    background-color: rgb(59, 57, 57);
}

.landing-page div:nth-child(4) {
    background-color: rgb(145, 142, 142);
}

.landing-paragraphs {
    position: absolute;
    background-color: rgb(20, 20, 20);
    top: 15%;
    left: 40%;
    height: 60px;
    width: 20%;
}

.landing-logos {
    position: absolute;
    background-color: rgb(53, 50, 50);
    top: 15%;
    right: 5%;
    height: 60px;
    width: 150px;
}

.profpic {
    width: 10%;
    height: 60px;
    background-color: rgba(41, 39, 39, 0.993) !important;
    border: 1px solid white;
    margin-top: 30%;
    margin-left: 5%;
    border-radius: 10px;
    z-index: 1;
}

.landing-page h1 {
    color: white;
    margin: 5%;
    width: 60%;
}

.newarticles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 90vh;
}

.newarticles article:nth-child(1),
.newarticles article:nth-child(2),
.newarticles article:nth-child(3),
.newarticles article:nth-child(5),
.newarticles article:nth-child(6),
.newarticles article:nth-child(7),
.newarticles article:nth-child(8) {
    background-color: rgba(70, 67, 67, 0.431);
}

.newarticles article:nth-child(4),
.newarticles article:nth-child(9) {
    background-color: rgba(14, 13, 13, 0.712);
}

.newarticles h1 {
    color: white;
    margin-top: 15%;
    margin-left: 5%;
    font-weight: bold;
    font-size: 30px;
}

.newarticles p {
    color: white;
    margin-top: 20%;
    margin-left: 5%;
    font-size: 19px;
    line-height: 3;
}

.newarticles article {
    border: 1px solid white;
    margin: 2%;
    border-radius: 6px;

}
